@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

.monsieur-la-doulaise-regular-kim {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.portfolio-item {
  cursor: pointer;
  margin-bottom: 1.8rem;
}

.modal-dialog {
  max-width: 80%;
}

#searchInput {
  margin-bottom: 1.5rem;
}

.filter-btn {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}